.modal-parent {
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}
.modal-parent.active {
  opacity: 1;
  visibility: visible;
}
.cms-table {
  margin-top: 20px;
  width: 100%;
  border-radius: 10px;
  background-color: var(--white);
}
.cms-title{
  font-weight: bold;
  font-size: 2rem;
}
.cms-table > tr {
  text-align: center;
}
.cms-table td,
.cms-table th {
  padding: 20px;
  font-weight: 700;
}
.cms-main{
margin-top: 60px;
padding: 20px;
border-radius: 25px;
}
button{
  cursor: pointer;
}